.service-item-Postmaster {
    background-image: url(../../../../assets/img/products/VG-Fence-Postmaster.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Wood-Fence {
    background-image: url(../../../../assets/img/products/VG-Fence-Wood-Fence.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Vinyl-Fence {
    background-image: url(../../../../assets/img/products/VG-Fence-Vinyl-Fence.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Chain-Link {
    background-image: url(../../../../assets/img/products/VG-Fence-Chain-Link.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Ornamental-Steel {
    background-image: url(../../../../assets/img/products/VG-Fence-Ornamental-Steel.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Ornamental-Aluminum {
    background-image: url(../../../../assets/img/products/VG-Fence-Ornamental-Aluminum.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Outdoor-Structures {
    background-image: url(../../../../assets/img/products/VG-Fence-Outdoor-Structures.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-CAD-Drawings {
    background-image: url(../../../../assets/img/products/VG-Fence-CAD-Drawings.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.service-item-Fence-Fabrication {
    background-image: url(../../../../assets/img/products/VG-Fence-Fabrication.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 1;
    position: relative;
}